@import "textarea.css";

.root{
-fx-font-size: 20;
-fx-background-image: url("/image/1.jpeg");
-fx-background-size: 100% 100%;
}

.button{
-fx-background-color: red;
}

.button:hover{
-fx-background-color: green;
-fx-font-weight: bold;
}

